{% extends 'mi_portafolio/base.html' %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peliculas</title>
</head>
<body>
    {% block content%}
    <H1 style="font-family: fantasy;">Peliculas</H1>
    <p style="font-weight: bold;">Peliculas de culto:
    <ul>
    Fight Club
    <ul>
    -Pulp Fiction
    <ul>
    -A Clockwork Orange </p><span>{{Stalin}} {{Morales}}</span>
    <h3>Conocimiento</h3>
    <ul>
        <li>{{data.skills}}</li>
    </ul>
    {% endblock%}
</body>
